:root {
	--pokemon-red: "#ee1515";
	--nav-width: 50px;
	--header-height: 60px;

	--bg-grey: "#e7e7e7";
	/*--blue: ;*/
	--size-label: 24px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	max-width: 1200px;
	margin-top: 45px;
}
/*
 STYLES FOR HEADER AND NAVIGATION ELEMENTS FOUND
 ACROSS ALL PAGES
*/

#spacer {
	height: 40px;
}