:root {
	--pokemon-red: "#ee1515";
	--nav-width: 50px;
	--header-height: 60px;

	--bg-grey: "#e7e7e7";
	/*--blue: ;*/
	--size-label: 24px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	margin-top: 45px;
}
/*
 STYLES FOR HEADER AND NAVIGATION ELEMENTS FOUND
 ACROSS ALL PAGES
*/

#spacer {
	height: 40px;
}



.login-box {
	position: relative;
	top: 50px;
	left: 100px;
	width: 50%;
	padding-left: 100%;
.custom-padding {
	padding: 10px;
}