/* community styles */

#grid{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr;
}

#mapSearch{
  grid-column-start: 2;
	grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

#mapResults{
  grid-column-start: 1;
	grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow-y: auto;
  margin-right: 1em;
}

#map{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100% !important;
  width: 100% !important;
}

#dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#distance-within{
  padding-right: 1em;
}

.ui.icon.input{
  padding-top: 5px;
  width:95%;
}

.leagueItem{
  display: flex;
  flex-direction: row;
}

.point{
  color: #e17055;
}

.leagueName{
  color: black;
  font-weight: bold;
}

.ui.header.community{
  padding: 15px;
  padding-top: 30px;
}

.ui.dropdown{
  width:7em !important;
  height:80% !important;
  border-radius: 5px;
}

.ui.dropdown.selection{
  min-width: 7em !important;
  height:80% !important;
}

.ui.teal.button.community{
  margin-left: 10px;
}


/* League styles */
.header.league{
  color: #00b894 !important;
}

.description.contact{
  display:grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1em;
}

.small.envelope.outline.icon{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin:auto;
}

.email{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin:auto;
  margin-left: 0px;

}

.small.phone.icon{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin:auto;
}

.phone-number{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin:auto;
  margin-left: 0px;
}

#league-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:0.5fr 0.5fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-left: 10px;
  grid-row-gap: 0.5em;
  width: 98%;
  height: 100%;

}

#league-name{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ui.teal.button.league{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 15em;
  height: 2.5em;
}

#address{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#contact{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#currentSeason{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

#nextSeason{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

#playTimes{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: flex-start;
}

.card{
  height: 90% !important;
  width:90% !important;
  min-height: 90% !important;
  min-width:90% !important;
}

@media (min-width: 2000px) {
    #mapSearch {
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-row-gap: none;
  }
  #grid {
    display: grid;
    flex-direction: none;
  }
  #mapResults {
    margin-right: 1em;
  }
    #league-info {
    display: grid;
    justify-content: none;
    flex-direction: none;
    margin-top: none;
    align-items: center;
  }
  .teal.ui.cards {
    width: 90%;
  }
}

@media (max-width: 700px) {
  #mapSearch {
    display:grid;
    grid-row-gap: 1em;
    grid-template-columns: none;
  }
  #grid {
    display: flex;
    flex-direction: column;
  }
  #mapResults {
    margin-right: 0px;
  }
  #league-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
    align-items: stretch;
  }
  .teal.ui.cards {
    width: 100%;
  }
}
