/* community styles */

#grid{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr;
}

#mapSearch{
  grid-column-start: 2;
	grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

#mapResults{
  grid-column-start: 1;
	grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow-y: auto;
  margin-right: 1em;
}

#map{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100% !important;
  width: 100% !important;
}

#dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#distance-within{
  padding-right: 1em;
}

.ui.icon.input{
  padding-top: 5px;
  width:95%;
}

.leagueItem{
  display: flex;
  flex-direction: row;
}

.point{
  color: #e17055;
}

.leagueName{
  color: black;
  font-weight: bold;
}

.ui.header.community{
  padding: 15px;
  padding-top: 30px;
}

.ui.dropdown{
  width:7em !important;
  height:80% !important;
  border-radius: 5px;
}

.ui.dropdown.selection{
  min-width: 7em !important;
  height:80% !important;
}

.ui.teal.button.community{
  margin-left: 10px;
}


/* League styles */
.header.league{
  color: #00b894 !important;
}

.description.contact{
  display:grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1em;
}

.small.envelope.outline.icon{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin:auto;
}

.email{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin:auto;
  margin-left: 0px;

}

.small.phone.icon{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin:auto;
}

.phone-number{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin:auto;
  margin-left: 0px;
}


@media (min-width: 2000px) {
    #mapSearch {
  padding: 1em;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-row-gap: none;
  }
  #grid {
    display: grid;
    flex-direction: none;
  }
  #mapResults {
    margin-right: 1em;
  }
}

@media (max-width: 700px) {
  #mapSearch {
    display:grid;
    grid-row-gap: 1em;
    grid-template-columns: none;
  }
  #grid {
    display: flex;
    flex-direction: column;
  }
  #mapResults {
    margin-right: 0px;
  }
}


leagues.filter(c => {c.name==leagueSelected}).address
