:root {
	--pokemon-red: "#ee1515";
	--nav-width: 50px;
	--header-height: 60px;

	--bg-grey: "#e7e7e7";
	/*--blue: ;*/
	--size-label: 24px;
}

body {
	font-family: 'Lato', sans-serif;

	margin: 0px;
	margin-top: 45px;
	height: calc(100vh - 45px);

}
/*
 STYLES FOR HEADER AND NAVIGATION ELEMENTS FOUND
 ACROSS ALL PAGES
*/

#spacer {
	height: 40px;
}



.login-box {
	position: relative;
	top: 50px;
	left: 100px;
	width: 50%;
	padding-left: 100%;
}

/*.homepage {
	display: grid;
	grid-template-columns: 38% 38% 24%;
	grid-template-rows: 100%;
	padding:50px;
	grid-gap: 10%;
	margin-right: 15%;
	margin-left: 5%;
}*/

/*.stats {
	text-align: left;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 25% 25% 25% 25%;
}*/


.box {
	border: 3px solid #00B894;
	border-radius: 15px;
	margin:auto;
	margin-top: 50px;
	height: 400px;
	font: 16px;
/*	display: flex !important;
	flex-direction: column;
	justify-content: center !important;*/
}

.indexButton {
	margin-top: 20px !important;
	display: inherit !important;
	text-align: center !important;
}

.statDiv {
	font-size: 16px;
}
.box-title, .box-title-outer {
	font-size: 20px;
	font-weight: bold;
	text-align: : center;
	margin-top: 5%;
}

#indexGrid {
	margin: auto;
	padding-top: 30px !important;
}

/*.box-content {
	margin-left: 5%;

}*/

.community-content {
	text-align: left;
	/*margin-left: 10px;*/
	margin-bottom: 15px;
	border: 1px solid #00B894;
	border-radius: 4px;
	padding: 4px;
}

.notifications {
	overflow-y: scroll;
	height: 60%;
}
.custom-padding {
	padding: 10px;
}

.custom-card img {
/*	max-width: 200px !important;
	height: auto !important;
*/}

.custom-card {
	max-width: 210px !important;
	height: auto;
}

main {
	height: calc(100vh - 50px);
	overflow-y: auto !important;
	width: calc(100vw - 260px);
}

.noscroll {
	overflow-x: hidden;
	height: inherit;
}

@media (min-width: 2000px) {
	main {
		width: calc(100vw - 260px);
	}
}

@media (max-width: 840px) {
	main {
		width: calc(100vw - 150px);
	}
}

@media (max-width: 700px) {
	main {
		width: calc(100vw - 60px);
	}
}

.extra-wrapper {
	padding: 7px 7px !important;
}

.small-spacer {
	height: 7px;
	width: 7px;
}

.search-components {
	display: flex;
	flex-direction: horizontal;
	space-between: 5px;
}

/*
.messages-home {
	display: grid;
	grid-template-columns: 10vw 70vw;
	grid-template-rows: 70vh;
	margin: 3%;
	margin-top: 6%;
}
*/

/*Margaret Starts Here*/

.messages-home {
  display: grid;
  height:inherit;
  padding: 10px;
  grid-template-columns: 3fr .5fr;
}

.mainMessage {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  height:inherit;
  padding:10px;
}

.friends {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top:15px;
  padding-left:20px;
	border-left: .5px solid black;
}

.friend {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding:15px;

}

.friendName {
	grid-column-start: 2;
	grid-column-end: 3;
	font-size: 18px;
	font-weight: bold;
	margin:auto;
}

.message-submit {
  postion: absolute;
  bottom: 0px;
}

#indexNoScroll {
	overflow-y: hidden !important;
}

.messages-list {
	display: grid;
	grid-template-rows: repeat(10, 10%);
	grid-template-columns: 100%;
	margin-left: 50%;
	margin-top: 50%;
	border: 1px solid black;
}

.message-text {
	grid-column-start:1;
  	grid-column-end:2;
  	grid-row-start:1;
	margin-top: 10px;
	margin-left: 15px;
	font-weight: bold;
}

.people {
	margin-top: 0%;
}

.chat-box {
	margin-left: 10%;
	border: 3px solid teal;
	border-radius: 15px;
	height: 100%;
	width: 80%;
	text-align: center;
	padding: 2%;
	background: #d8f6fb;
}

.chat-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 6%;

}

.message-list {
	padding-left: 0px;
}
.message {
	text-align: left;
/*	border: 0.5px solid black;*/
	border-radius: 10px;
	padding: 8px;
	margin-bottom: 5%;
}

.receive {
	margin-right: 40%;
	background: #dfe6e9;
}

.send {
	margin-left: 40%;
	background: #00cec9;
}

.message-icon {
	height: 60px;
	grid-column-start: 1;
	grid-column-end:2;
	margin:auto;
}

.message-dropdown {
	border: 1px solid black;
	color: black;
	background: #d8f6fb;
	margin-left: 5px;
	margin-right: 5px;
	width: 120%;
}

.message-submit {
	width: 100%;
}

.send-button {
	color: white;
	border-radius: 4px;
	justify-content: center;
	width: 20%;
}

.messages {
	height: 80%;
	max-height: 80%;
	overflow-y: auto;
	margin-bottom: 5px;
}

.message-input {
	width: 75%;
}

