:root {
	--pokemon-red: "#ee1515";
	--nav-width: 50px;
	--header-height: 60px;

	--bg-grey: "#e7e7e7";
	/*--blue: ;*/
	--size-label: 24px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	margin-top: 45px;
	height: calc(100vh - 45px);

}
/*
 STYLES FOR HEADER AND NAVIGATION ELEMENTS FOUND
 ACROSS ALL PAGES
*/

#spacer {
	height: 40px;
}



.login-box {
	position: relative;
	top: 50px;
	left: 100px;
	width: 50%;
	padding-left: 100%;
}

.homepage {
	display: grid;
	grid-template-columns: 38% 38% 24%;
	grid-template-rows: 100%;
	padding:50px;
	grid-gap: 10%;
	margin-right: 15%;
	margin-left: 5%;
}

.stats {
	text-align: left;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 25% 25% 25% 25%;
}


.box {
	border: 3px solid teal;
	border-radius: 15px;
	padding: 10px;

	text-align: center;
	height: 70%;
	background: #B2FFFF;

}
.clickable {
	color: black;
}

.box-title, .box-title-outer {
	font-size: 20px;
	font-weight: bold;
	text-align: : center;
	margin-top: 5%;
	text-decoration: underline;
}

.box-content {
	margin-left: 5%;

}

.community-content {
	text-align: left;
	margin-left: 10px;
	margin-bottom: 15px;
	border: 1px solid teal;
	border-radius: 4px;
	padding: 4px;
	background: #BBE3FF;
}

.notifications {
	overflow-y: scroll;
	height: 70%;
}
.custom-padding {
	padding: 10px;
}

.custom-card img {
/*	max-width: 200px !important;
	height: auto !important;
*/}

.custom-card {
	max-width: 220px !important;
	/*flex: .3;*/
	height: auto;
}

main {
	height: calc(100vh - 50px);
	overflow-y: auto !important;
	width: calc(100vw - 260px);
}

.noscroll {
	overflow-x: hidden;
	height: inherit;
}

@media (min-width: 840px) {
	main {
		width: calc(100vw - 260px);
	}
}

@media (min-width: 730px) {
	main {
		width: calc(100vw - 150px);
	}
}
