/*#mainbox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	background-color: #DDF6EF;
	font-family: "Lato";
	color: #00B894;
}*/

/*#searchMenu {
	grid-column-start: 1;
	grid-column-end: 3;
	padding-bottom: 30px;
	font-size: 50px;
}*/

/*#wishlist,#trade {
	grid-row-start: 2;
	grid-column-start: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 5px solid #00B894;
	margin:auto;
}
*/
/*.submenuHeader {
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 20px;
}*/
/*.pokemon {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding: 15px;
	border-top: 5px solid #00B894;
}*/

/*.picdiv {
	text-align: right;
}*/
/*.pokepic {
	grid-column-start: 1;
	grid-column-end: 1;
	height: 75px;
	height:100px;
	padding-right: 10px;
}*/


#searchBar {
	padding-top: 50px;
}
.pokepic {
	height: 300px;
	z-index: 4000;
}

.setImg {
	height: 15px;
}

.outerDiv {
	grid-column-start: 2;
	grid-column-end: 3;
/*	display: grid;
	grid-template-columns: 1fr 1fr;*/
}

.previewImg {
	grid-column-start: 1;
	grid-column-end: 2;
	height: 100px;
	margin-right: 5px;
}

.pokemonDiv {
	display: grid !important;
	grid-template-columns: 1fr 4fr;
	border-top: 2px solid #00B894;
	margin-top: 2px;
	padding: 5px;

}

.column {
	border: 5px solid #00B894;
	margin: 10px;
/*	padding: 0 !important;*/
}
/*.info {
	grid-column-start:2;
	text-align: left;
	padding-left: 10px;
}*/

/*#trade {
	grid-row-start: 2;
	grid-column-start: 2;
}*/

.dropdownDiv {
	margin-top: auto;
	margin-bottom: auto;
}
.tradeDiv {
	text-align: right;
}


/*TRADE RESULTS START HERE*/

.profilePicPreview {
	height: 80px;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-end:4;
	grid-row-start:1;
	margin-top:auto;
	margin-left: auto;
	margin-right: auto;
}

#matches {
	padding-top: 20px;
}
.infoDiv {
	display: grid;
	grid-template-columns: 1fr 1fr 5fr 2fr;
	text-align: left;
	grid-row-gap: 5px;
}
.singleInfoDiv {
	grid-column-start: 3;
	margin-top:auto;
	margin-left: 5px;
}

.name {
	font-weight: bold;
	font-size: 30px;
	grid-row-start: 1;
}
.location {
	grid-row-start: 2;
}
.want {
	grid-row-start: 3;
}

.message1 {
	grid-column-start: 4;
	grid-row-start: 1;
}
